p {
    text-align: justify;
}

code {
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

h1.post-title {
    font-weight: bold;
}

h3 {
    font-size: 1rem;
}

.green {
    color: var(--accent);
}

.important {
    margin: 30px 0;
    padding: 25px 30px;
    background-color: #aa555544;
    border-top: 2px dashed #aa555599;
    border-bottom: 2px dashed #aa555599;
}

/* About */

td ul {
    margin-top: 0;
}

/* TOC */

.toc {
    border-bottom: 2px dashed var(--accent);
}

.toc-top-level {
    list-style-type: "► ";
}

.toc-top-level li::marker {
    color: var(--accent);
}

.toc-inner-level li::before{
    content: ":: " !important;
}

.toc-inner-level li::marker {
    color: var(--accent);
}