<table style="border: none; margin: 0;">
    <tr>
        {% if title_pos == "right" %}
        <td style="border-top: none; border-bottom: none; border-left: none;">
            {{ body | markdown |safe }}
        </td>
        {% endif %}
        <td style="border: none; width: 32%; vertical-align: top;">
            {% if title_pos == "left" %}
            <h3 style="padding-right: 10px; margin-top: 0; float: right; text-align: right;">
            {% else %}
            <h3 style="padding-left: 10px; margin-top: 0;">
            {% endif %}
            {{ title }}</h3>
        </td>
        {% if title_pos == "left" %}
        <td style="border-top: none; border-right: none; border-bottom: none;">
            {{ body | markdown |safe }}
        </td>
        {% endif %}
    </tr>
</table>