<table style="border: none;">
    {% for key in keys %}
        <tr>
            <td style="border-top: none; border-bottom: none; border-left: none; text-align: right;">{{ key }}</td>
            <td style="border: none;"><b><a href={{ links[loop.index0] }} target="_blank" rel="noopener noreferrer">{{ values[loop.index0] }}</a></b></td>
        </tr>
    {% endfor %}
</table>