{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ get_url(path="front.css", trailing_slash=false) | safe }}">
{% endblock css %}

{% block content %}
{% set menu_items = config.extra.menu_items %}
<div class="post">
    <ul>
        {% set index = get_section(path="_index.md") %}
        {% for s in index.subsections %}
            {% set subsection = get_section(path=s) %}
            {% if not loop.last %}
            <li>
                <h2 class="section-title">
                    <a itemprop="url" href="{{ subsection.permalink | safe}}">{{ subsection.title }}</a>
                </h2>
            <p>
                {{ subsection.description }}
            </p>
            </li>
            {% endif %}
        {% endfor %}

        {% set about_me = get_page(path="about-me/index.md") %}
        <li>
            <h2 class="section-title">
                <a itemprop="url" href="{{ about_me.permalink | safe}}">{{ about_me.title }}</a>
            </h2>
        <p>
            {{ about_me.description }}
        </p>
        </li>
    </ul>
</div>
{% endblock content %}