{% extends "terminimal/templates/page.html" %}

{% block extra_head %}
<link rel="stylesheet" href="{{ get_url(path="general.css", trailing_slash=false) | safe }}">
{% endblock extra_head %}

{% block content %}
<div>
    <div class="post">
        {{ post_macros::header(page=page) }}

        {% if page.extra.disclaimer %}
        <div class="important">
            {{ page.extra.disclaimer | markdown | safe }}
        </div>
        {% endif %}

        {% if page.toc %}
        <h2>Obsah</h2>
        <div class="toc">
            <ul class="toc-top-level">
                {% for h1 in page.toc %}
                <li>
                    <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                    {% if h1.children %}
                    <ul class="toc-inner-level">
                        {% for h2 in h1.children %}
                        <li>
                            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                            {% if h2.children %}
                            <ul>
                                {% for h3 in h2.children %}
                                <li>
                                    <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
                                    {% if h3.children %}
                                    <ul>
                                        {% for h4 in h3.children %}
                                        <li>
                                            <a href="{{ h4.permalink | safe }}">{{ h4.title }}</a>
                                            {% if h4.children %}
                                            <ul>
                                                {% for h5 in h4.children %}
                                                <li>
                                                    <a href="{{ h5.permalink | safe }}">{{ h5.title }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}    

        {{ post_macros::content(page=page, summary=false, show_only_description=false) }}
        {{ post_macros::earlier_later(page=page) }}
    </div>
</div>
{% endblock content %}