{% extends "base.html" %}

{% block content %}
<div class="post">
    <h1 class="post-title">
    {{ section.title }}
    </h1>
    {% if section.subsections %}
    <h2 class="post-title">
    Podkategorie
    </h2>
    <ul>
    {% for s in section.subsections %}
    {% set subsection = get_section(path=s) %}
    <li>
        <div class="page-preview">
        <span class="preview-title"><a href="{{ subsection.permalink | safe }}">{{ subsection.title }}</a></span><br>
        {% if subsection.description %}
            <p class="preview-text"><small>{{ subsection.description }}</small></p>
        {% endif %}
        </div>
    </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% if section.pages %}
    <h2 class="post-title">
    Příspěvky
    </h2>
    <ul>
    {% for page in section.pages %}
    <li>
        <div class="page-preview">
        <span class="preview-title"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></span><br>
        <span class="preview-date">{{ page.date | date(format="%d-%m-%Y") }}</span>
        {% if page.description %}
            <p class="preview-text"><small>{{ page.description }}</small></p>
        {% endif %}
        </div>
    </li>
    {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock content %}